# ETL Project

## Create Postgres Database

1. - Create a `Postgres` Database with the name `ETL_db`
2. - Update the `config.py`file with your connection data to your `Postgres` database
3. - Run this `Notebook`only

#### Notes:
- The code drop the tables in the database `ETL_db` if existed and upload all the information again
- No other notebook or code needs to be run

## Call the notebook to create the Schema

In [13]:
%run ./2_create_tables.ipynb
create_tables()

The tables: ['Hum_Dev_Ind', 'Economic', 'Suicide'] were created

## Call the notebooks to consult the csv file and load it to the Database

### Human Development Index

In [14]:
%run ./3_human_dev_ind.ipynb

All the human-development-index data was uploaded to the database:
       Country  Year human_dev_ind
0  Afghanistan  2000            ..
1  Afghanistan  2005         0.408
2  Afghanistan  2010         0.463
3  Afghanistan  2015         0.493
4  Afghanistan  2016         0.494

### Economic

In [15]:
%run ./4_economic.ipynb

All the economic data was uploaded to the database:
       Country  Year        GDP growth     Inflation
0  Afghanistan  2000                 0             0
1  Afghanistan  2005  11.1752702416587   12.68626872
2  Afghanistan  2010  8.43329048161792   0.892536936
3  Afghanistan  2015  1.31004040372002  -1.533846583
4  Afghanistan  2016  2.36671191565063   2.169452176

### Suicide

In [16]:
%run ./5_suicide.ipynb

All the suicide data was uploaded to the database:
       Country  Year  Suicide_Rate_Female  Suicide_Rate_Male
0  Afghanistan  2000                  1.0               10.0
1  Afghanistan  2005                  1.5               10.8
2  Afghanistan  2010                  1.4                8.6
3  Afghanistan  2015                  1.5                7.8
4  Afghanistan  2016                  1.5                7.6

### Consult the Final Queries to Answer the Questions

In [17]:
%run ./6_etl_result.ipynb
final_query.head()

select "Economic"."Country",
        "Economic"."Year",
        "Economic"."GDP growth" as "GDP Growth",
        "Economic"."Inflation",
        "Suicide"."Suicide_Rate_Female",
        "Suicide"."Suicide_Rate_Male",
        "Hum_Dev_Ind"."human_dev_ind" as "Human Development Index"
        from "Economic"
        join "Suicide"
        on "Economic"."Country" = "Suicide"."Country" and "Economic"."Year" = "Suicide"."Year"
        join "Hum_Dev_Ind"
        on "Suicide"."Country" = "Hum_Dev_Ind"."Country" and "Suicide"."Year" = "Hum_Dev_Ind"."Year"

,Country,Year,GDP Growth,Inflation,Suicide_Rate_Female,Suicide_Rate_Male,Human Development Index
0,Afghanistan,2000,0,0,1.0,10.0,..
1,Afghanistan,2005,11.1752702416587,12.68626872,1.5,10.8,0.408
2,Afghanistan,2010,8.43329048161792,0.892536936,1.4,8.6,0.463
3,Afghanistan,2015,1.31004040372002,-1.533846583,1.5,7.8,0.493
4,Afghanistan,2016,2.36671191565063,2.169452176,1.5,7.6,0.494