# ELT Result

### Import dependencies

In [22]:
import pandas as pd
from sqlalchemy import create_engine
from config import (ServerName, UserName, Password, port, DataBase)
import psycopg2


def getData(sql):
    engine = create_engine(f'postgres+psycopg2://{UserName}:{Password}@{ServerName}:{port}/{DataBase}')
    df_query = pd.read_sql(sql, engine)
    return df_query

### Database Queries

In [23]:
sql = """select "Economic"."Country",
        "Economic"."Year",
        "Economic"."GDP growth" as "GDP Growth",
        "Economic"."Inflation",
        "Suicide"."Suicide_Rate_Female",
        "Suicide"."Suicide_Rate_Male",
        "Hum_Dev_Ind"."human_dev_ind" as "Human Development Index"
        from "Economic"
        join "Suicide"
        on "Economic"."Country" = "Suicide"."Country" and "Economic"."Year" = "Suicide"."Year" 
        join "Hum_Dev_Ind"
        on "Suicide"."Country" = "Hum_Dev_Ind"."Country" and "Suicide"."Year" = "Hum_Dev_Ind"."Year" 
    """
final_query = getData(sql)
print (sql)

select "Economic"."Country",
        "Economic"."Year",
        "Economic"."GDP growth" as "GDP Growth",
        "Economic"."Inflation",
        "Suicide"."Suicide_Rate_Female",
        "Suicide"."Suicide_Rate_Male",
        "Hum_Dev_Ind"."human_dev_ind" as "Human Development Index"
        from "Economic"
        join "Suicide"
        on "Economic"."Country" = "Suicide"."Country" and "Economic"."Year" = "Suicide"."Year"
        join "Hum_Dev_Ind"
        on "Suicide"."Country" = "Hum_Dev_Ind"."Country" and "Suicide"."Year" = "Hum_Dev_Ind"."Year"

#### What are the Top 10 Countries for highest suicide rates for males in 2016?

In [24]:
sql = """--- Top 10 Suicide Rate by Country for Males in 2016
        select "Country","Year","Suicide_Rate_Male" from "Suicide" 
        where "Year"=2016
        order by "Suicide_Rate_Male" desc
        limit 10;
    """
top_males_2016 = getData(sql)
print (sql)

--- Top 10 Suicide Rate by Country for Males in 2016
        select "Country","Year","Suicide_Rate_Male" from "Suicide"
        where "Year"=2016
        order by "Suicide_Rate_Male" desc
        limit 10;

#### What are the Top 10 Countries for highest suicide rates for females in 2016?

In [25]:
sql = """--- Top 10 Suicide Rate by Country for Females in 2016
        select "Country","Year","Suicide_Rate_Female" from "Suicide" 
        where "Year"=2016
        order by "Suicide_Rate_Female" desc
        limit 10
    """
top_female_2016 = getData(sql)
print (sql)

--- Top 10 Suicide Rate by Country for Females in 2016
        select "Country","Year","Suicide_Rate_Female" from "Suicide"
        where "Year"=2016
        order by "Suicide_Rate_Female" desc
        limit 10

#### What are the suicide rates for males in countries with the lowest GDP growth in 2016?

In [26]:
sql = """--- Suicide Rate for Males among Countries with lowest GDP growth
        select * 
        from (select s."Country",s."Year",s."Suicide_Rate_Male", e."GDP growth"
        from "Suicide" as s
        join "Economic" as e
        on (s."Country"=e."Country") and (s."Year"=e."Year")) as c
        where c."Year"=2016
        order by c."GDP growth"
        limit 20;
    """
low_gdp_2016 = getData(sql)
print (sql)

--- Suicide Rate for Males among Countries with lowest GDP growth
        select *
        from (select s."Country",s."Year",s."Suicide_Rate_Male", e."GDP growth"
        from "Suicide" as s
        join "Economic" as e
        on (s."Country"=e."Country") and (s."Year"=e."Year")) as c
        where c."Year"=2016
        order by c."GDP growth"
        limit 20;

#### What are the suicide rates for males and females in countries with the lowest HDI in 2016?

In [27]:
sql = """--- Suide Rates among Countries with lowest HDI
            select * 
            from (select s."Country",s."Year",s."Suicide_Rate_Male",s."Suicide_Rate_Female", h."human_dev_ind"
            from "Suicide" as s
            join "Hum_Dev_Ind" as h
            on (s."Country"=h."Country") and (s."Year"=h."Year")) as cb
            where cb."Year"=2016
            order by cb."human_dev_ind"
            limit 20;
    """
low_gdp_2016 = getData(sql)
print (sql)

--- Suide Rates among Countries with lowest HDI
            select *
            from (select s."Country",s."Year",s."Suicide_Rate_Male",s."Suicide_Rate_Female", h."human_dev_ind"
            from "Suicide" as s
            join "Hum_Dev_Ind" as h
            on (s."Country"=h."Country") and (s."Year"=h."Year")) as cb
            where cb."Year"=2016
            order by cb."human_dev_ind"
            limit 20;

#### What are the global averages for suicides rates for males and females?

In [28]:
sql = """--- Global Suicide Rate for Males and Females
        select "Year",avg("Suicide_Rate_Male") as "Male Avg Suicide Rate",
        avg("Suicide_Rate_Female") as "Female Avg Suicde Rate"
        from "Suicide"
        group by "Year"
        order by "Year";
    """
low_gdp_2016 = getData(sql)
print (sql)

--- Global Suicide Rate for Males and Females
        select "Year",avg("Suicide_Rate_Male") as "Male Avg Suicide Rate",
        avg("Suicide_Rate_Female") as "Female Avg Suicde Rate"
        from "Suicide"
        group by "Year"
        order by "Year";

#### What are the suicide rates for males and females in countries with the highest inflation in 2016?

In [29]:
sql = """--- Suide Rates among Countries with highest Inflation
            select * 
            from (select s."Country",s."Year",s."Suicide_Rate_Male",s."Suicide_Rate_Female" , e."Inflation"
            from "Suicide" as s
            join "Economic" as e
            on (s."Country"=e."Country") and (s."Year"=e."Year")) as c
            where c."Year"=2016
            order by c."Inflation" desc
            limit 20;
    """
low_gdp_2016 = getData(sql)
print (sql)

--- Suide Rates among Countries with highest Inflation
            select *
            from (select s."Country",s."Year",s."Suicide_Rate_Male",s."Suicide_Rate_Female" , e."Inflation"
            from "Suicide" as s
            join "Economic" as e
            on (s."Country"=e."Country") and (s."Year"=e."Year")) as c
            where c."Year"=2016
            order by c."Inflation" desc
            limit 20;